<%
# Copyright (C) 2011-2015 Andrew "Jamoozy" Sabisch
#
# This file is part of GOPF.
#
# GOPF is free software: you can redistribute it and/or modify it under the
# terms of the GNU Affero General Public as published by the Free Software
# Foundation, either version 3 of the License, or (at your option) any later
# version.
#
# GOPF is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
# details.
#
# You should have received a copy of the GNU Affero General Public License
# along with GOPF. If not, see http://www.gnu.org/licenses/.

require './list'

# Parse simple URL params to determine how to generate this page.
playlist = false;
media = false;
if $cgi.params.has_key?('p')
  playlist = CGI.unescape($cgi.params['p'][0])
  if $cgi.params.has_key?('m')
    media = CGI.unescape($cgi.params['m'][0])

    # TODO implement t=??? param.
  end
end
%>

<%$title='GOPF'%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title id="page-title"><%=$title%></title>
    <script src="jquery-1.11.0.min.js" type="text/javascript"></script>
    <!--script src="loc.js" type="text/javascript"></script-->
    <script src="media.js" type="text/javascript"></script>
    <script src="playlist.js" type="text/javascript"></script>
    <script src="input.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poiret+One|Tinos|Headland+One">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link id="prefetch" rel="prefetch" href="">
  </head>

  <body>
    <div id="player-container" class="player-container">
      <div id="url" class="url"></div>
      <div id="title-header">
        <h1 class="header">now playing:</h1>
        <div class="title" style="font-family:'Poiret One'">(nothing loaded)</div>
      </div>
      <div id="notification"> </div>
      <audio id="player" src="" seek="true" controls>
        Hey, man, get an HTML5-compatible browser, okay?
      </audio>
      <div id="controls" class="controls-container">
        <span id="prev" class="controls">&lt;&lt;</span>
        <input id="loop" type="checkbox">
          <span id="loop_label" class="controls"><span class="mnemonic">l</span>oop</span>
        </input>
        <input id="shuf" type="checkbox">
          <span id="shuf_label" class="controls"><span class="mnemonic">s</span>huffle</span>
        </input>
        <span id="next" class="controls">&gt;&gt;</span>
      </div>
    </div>

    <nav id="navigator">
      <div id="playlist-container" class="playlist-container">
        <ul id="playlists" class="playlists">
          <%= generate_playlists(playlist) %>
        </ul>
        <h1 id="playlist-header" class="header">Playlists</h1>
      </div>

      <div id="media-container" class="media-container">
        <ul id="media" class="media">
          <%= generate_media(playlist, media) if playlist %>
        </ul>
        <h1 id="media-header" class="header">Songs</h1>
      </div>
    </nav>

    <div id="help-dialog" class="help-dialog"></div>

    <footer id="footer">
      <div class="name">
        <a href="http://github.com/jamoozy/gopf" target="_blank">
          GOPF: The GNU Online Player Framework
        </a>
      </div>
      <div class="name">
        Written by <author>Andrew "Jamoozy" Correa</author>
      </div>
    </footer>
  </body>
</html>
