/*
 * Copyright 2012 Andrew "Jamoozy" Correa
 *
 * This file is part of GOPF.
 *
 * GOPF is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * Foobar is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with GOPF. If not, see http://www.gnu.org/licenses/.
 */

body {
  background: #333333;
  background-image: -moz-linear-gradient(
    90deg, gray, white
  );

  font-family: "Arial", sans-serif;
  font-size: 12pt;
}


.help-dialog {
  padding: 1em;
  position: absolute;
  top: 3em;
  right: 3em;
  bottom: 3em;
  left: 3em;
  background-color: rgba(10, 10, 10, .88);
  color: white;
  border: 2px solid white;
  border-radius: 1em;
  -webkit-columns: 100px 2;
}

.help-dialog ul {
  margin: 0 0 0 -1.5em;
}

.help-dialog ul li {
  list-style-type: none;
  position: relative;
  margin-right: 1em;
}

.help-dialog ul li.help-header {
  padding-top: 1em;
  border-bottom: 1px solid gray;
  font-weight: bold;
  color: yellow;
}

.help-dialog ul li span.key {
  font-family: monospace;
  font-weight: bold;
  min-width: 3em;
  max-width: 3em;
  width: 3em;
  text-align: right;
}



/*********************************************************\
|                    main media player                    |
\*********************************************************/

.player-container {
  background: #102520;
  color: #8db6cd;

  float: center;
  border: 1px solid white;
  border-radius: 4px;

  text-align: center;
}

.progress {
  width: 50%;
}



/*********************************************************\
|                   individual entries                    |
\*********************************************************/

.unselected:hover, .media:hover {
  cursor: pointer;
}

.dummy {
  color: white;
  list-style-type: none;
  padding: 2px 1em;
  margin: 2px 1em;
  margin-left: -2.5em;
  text-align: center;

  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}

li.selected, li.unselected, li.media, li.playing {
  margin-left: -2.5em;
  padding-right: 0.5em;

  overflow: hidden;
  text-overflow: ellipsis;

  list-style-type: none;
  text-overflow: clip;

  border-radius: 1em;
  border: 1px solid black;
  padding-left: 5px;
  height: 1em;

  margin-bottom: -1px;
}

li.media, li.unselected {
  background-image: -webkit-gradient(
    linear, left bottom, left top,
    from(gray), to(white)
  );
  background: -moz-linear-gradient(90deg, gray, white);

  color: #e0ffff;
  border-color: #e0ffff;
  background: black;
}

li.selected, li.playing {
  background-image: -webkit-gradient(
    linear, left top, left bottom,
    from(white), to(blue)
  );
  background: -moz-linear-gradient(90deg, white, blue);

  color: #8db6cd;
  border-color: #8db6cd;
  background: #102520;
}



/*********************************************************\
|                   individual elements                   |
\*********************************************************/

.title {
  padding-bottom: 1em;
}

.mnemonic {
  text-decoration: underline;
}

.header {
  color: #8db6cd;
  float: top;
  text-align: center;
  padding: 2px;
  margin: 0px 0em;
}

.playlist-container, .media-container {
  background: #102520;
  border: 1px solid white;
  border-top: none;
  border-radius: 1em;
  margin: -1px 5px;  /* lines-up with media-container */
}

.playlist-container {
  float: left;
  max-width: 260px;
}

.media-container {
  float: right;
}

ul.playlists, ul.media {
  background: #102520;

  overflow-x: hidden;
  overflow-y: scroll;

  margin: 0px -1px -1px -1px;

  border: 1px solid white;
}

#selected.media, #selected.unselected {
  color: #36648b;
  background: white;
}

#selected.playing, #selected.selected {
  background-image: -webkit-gradient(
    linear, left bottom, left top,
    from(white), to(black)
  );
  background: -moz-linear-gradient(90deg, black, #102520);
}

.controls {
  cursor: pointer;
}



/*********************************************************\
|                          footer                         |
\*********************************************************/

footer {
  float: bottom;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

footer .name {
  text-align: right;
  font-size: 8pt;
  font-family: Times;
}

footer .name, .name a:visited, .name a:link {
  color: #777;
}
